@import "tailwindcss";

.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}


@font-face {
  font-family: 'Urbanist';
  src: url('./src/assets/Urbanist.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist Italic';
  src: url('./src/assets/Urbanist-Italic.ttf') format('truetype');
}

.italic-text {
  font-family: 'Urbanist Italic', cursive;
}

:root {
    --background-color: #2d3142;
    --surface-color: #bfc0c0;
    --primary-color: #ef8354;
    --secondary-color: #4f5d75;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    color: #ffffff;
    background-color: var(--background-color);
}

@keyframes fadeingOutIn {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeState {
  animation: fadeingOutIn 0.6s ease-in-out;
}

fieldset {
	font-weight: bolder;
}