@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial;
}

/*
menu stuff
*/
.overlay-container {
    background-color: gray;
    
}